@charset "utf-8";
/* CSS Document */

/*   COLORS =========================================================*/


:root {
  --gray-100: hsl(229, 30%, 14%);
  --gray-90: hsl(228, 27%, 19%);
  --gray-80: hsl(229, 23%, 23%);
  --gray-75: hsl(230, 14%, 32%);
  --gray-70: hsl(230, 13%, 34%);
  --gray-65: hsl(229, 11%, 39%);
  --gray-60: hsl(228, 9%, 44%);
  --gray-55: hsl(226, 8%, 50%);
  --gray-50: hsl(227, 8%, 54%);
  --gray-45: hsl(228, 7%, 59%);
  --gray-40: hsl(226, 7%, 64%);
  --gray-35: hsl(230, 8%, 69%);
  --gray-30: hsl(228, 7%, 73%);
  --gray-25: hsl(233, 7%, 78%);
  --gray-20: hsl(228, 9%, 89%);
  --gray-15: hsl(220, 8%, 92%);
  --gray-10: hsl(210, 9%, 96%);
  --gray-5: hsl(240, 11%, 98%);
  --gray-0: hsl(0, 0%, 100%);
  --purple-60: hsl(249, 43%, 46%);
  --purple-50: hsl(249, 46%, 54%);
  --purple-40: hsl(250, 56%, 66%);
  --purple-30: hsl(249, 50%, 70%);
  --purple-20: hsl(250, 70%, 83%);
  --purple-10: hsl(250, 100%, 95%);
  --blue-70: hsl(216, 92%, 34%);
  --blue-60: hsl(216, 100%, 40%);
  --blue-50: hsl(216, 100%, 50%);
  --blue-40: hsl(214, 100%, 57%);
  --blue-30: hsl(214, 100%, 65%);
  --blue-20: hsl(214, 100%, 85%);
  --blue-10: hsl(216, 100%, 94%);
  --jade-70: hsl(160, 100%, 20%);
  --jade-60: hsl(160, 100%, 26%);
  --jade-50: hsl(158, 100%, 33%);
  --jade-40: hsl(155, 63%, 60%);
  --jade-30: hsl(155, 82%, 71%);
  --jade-20: hsl(151, 79%, 82%);
  --jade-10: hsl(149, 81%, 94%);
  --green-10: hsl(128, 48%, 90%);
  --green-20: hsl(129, 64%, 78%);
  --green-30: hsl(133, 73%, 68%);
  --green-40: hsl(134, 57%, 57%);
  --green-50: hsl(133, 54%, 44%);
  --green-60: hsl(138, 100%, 25%);
  --green-70: hsl(138, 100%, 19%);
  --yellow-10: hsl(48, 100%, 95%);
  --yellow-20: hsl(48, 100%, 85%);
  --yellow-30: hsl(47, 100%, 75%);
  --yellow-40: hsl(46, 100%, 50%);
  --yellow-50: hsl(40, 100%, 50%);
  --yellow-60: hsl(33, 100%, 56%);
  --yellow-70: hsl(33, 100%, 50%);
  --red-10: hsl(0, 100%, 93%);
  --red-20: hsl(0, 100%, 84%);
  --red-30: hsl(0, 100%, 75%);
  --red-40: hsl(357, 97%, 62%);
  --red-50: hsl(353, 83%, 51%);
  --red-60: hsl(352, 91%, 43%);
  --red-70: hsl(352, 93%, 35%);
  --blueberry: hsl(249, 49%, 39%);


    --text-dark: var(--gray-100);
    --text-normal: var(--gray-75);
    --text-light: var(--gray-55);
    --text-disabled: var(--gray-35);
    --borders-color: var(--gray-30);
}

