.top-headers-head-archive {
    font-size: 18px;
    font-weight: 500;
    color: var(--gray-100);
    width: 30%;
    min-width: 200px;
    max-width: 400px;
	position: absolute;
}

.top-headers-date-archive {
    font-size: 11px;
    color: var(--gray-35);
    width: 50px;
    text-align: right;
  
 position: absolute;
	left: 33%;
    margin-top: 2px;
}

.top-headers-header3-archive {
    width: 15%;
    position: absolute;
	left: 35%;
    margin-top: 2px;
    text-align: right;
}

.top-headers-header4-archive {
    width: 15%;
    position: absolute;
	left: 49%;
    margin-top: 2px;
    text-align: right;
}

.top-headers-header5-archive {
    width: 15%;
	position: absolute;
	left: 80%;
	margin-top: 2px;
}

.top-headers__last-headers {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.user-ava-name-text-archive {
    display: flex;
    justify-content: space-between;
    width: 30%;
    min-width: 200px;
    max-width: 400px;
    position: absolute;
}

.user-date-archive {
    width: 50px;
    font-size: 11px;
    color: var(--gray-40);
    margin-top: 1px;
     text-align: right;
position: absolute;
	left:33%;
}

.user-list__table3-archive {
    width: 15%;
    text-align: right;
    position: absolute;
	left: 35%
}

.user-list__table4-archive {
    width: 15%;
    text-align: right;
position: absolute;
	left: 49%
}

.user-list__table5-archive {
    width: 15%;
	position: absolute;
	left: 80%;
}